<div class="row" *ngIf="member">
    <div class="col-4">
        <h2><strong>Seu Perfil</strong></h2>
    </div>
    <div class="col-8">
        <div *ngIf="editForm.dirty" class="alert alert-info">
            <strong>Alerta: </strong>Você fez alterações. Todas as alterações não salvas serão perdidas
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{ member.photoUrl || './assets/user.png' }}" alt="{{ member.knownAs }}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Apelido:</strong>
                    <p>{{ member.knownAs }}</p>
                </div>

                <div>
                    <strong>Localização:</strong>
                    <p>{{ member.city }}, {{ member.country }}</p>
                </div>

                <div>
                    <strong>Idade:</strong>
                    <p>{{ member.age }}</p>
                </div>

                <div>
                    <strong>Ativo pela última vez:</strong>
                    <p>{{ member.lastActive | timeago }}</p>
                </div>

                <div>
                    <strong>Membro desde:</strong>
                    <p>{{ member.created | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
            <div class="card-footer mb-1">
                <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-primary btn-block">Salvar Alterações</button>
                <button (click)="deleteMember()" class="btn btn-danger btn-block">Apagar Perfil</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='Sobre {{ member.knownAs | titlecase }}'>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h5><strong>Descrição:</strong></h5>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="6"></textarea>
                    <h5 class="mt-2"><strong>Procurando por:</strong></h5>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor" name="lookingFor" rows="6"></textarea>
                    <h5 class="mt-2"><strong>Interesses:</strong></h5>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="6"></textarea>
                    <h5 class="mt-2"><strong>Detalhes da localização:</strong></h5>
                    <div class="form">
                        <label for="city"><strong>Cidade:</strong></label>
                        <input class="form-control mb-1" [(ngModel)]="member.city" type="text" name="city">
                        <label for="city"><strong>País:</strong></label>
                        <input class="form-control" [(ngModel)]="member.country" type="text" name="country">
                    </div>
                </form>
            </tab>
            <tab heading='Editar Fotos'>
                <app-photo-editor [member]="member"></app-photo-editor>
            </tab>
        </tabset>
    </div>
</div>
<p-confirmDialog [baseZIndex]="10000" acceptLabel="Sim" rejectLabel="Não" styleClass="red-dialog"></p-confirmDialog>