<form *ngIf="(accountService.currentUser$ | async) === null" [formGroup]="loginFormGroup" (ngSubmit)="login()" 
    autocomplete="off">
    <h2 class="text-center text-primary">Entrar</h2>
    <hr>
    <app-text-input [formControl]='loginFormGroup.controls["userName"]' 
        [label]='"Usuário"' [placeholder]='"Usuário"'></app-text-input>
    <app-text-input [formControl]='loginFormGroup.controls["password"]' 
        [type]='"password"' [label]='"Senha"' [placeholder]='"Senha"'></app-text-input>
    <div style="display: flex; align-items: center; justify-content: center;" class="form-group">
        <ngx-recaptcha2 [siteKey]="siteKey" (success)="handleSuccess($event)" (error)="handleError()"
            formControlName="recaptcha"></ngx-recaptcha2>
    </div>
    <div class="form-group text-center mt-3">
        <button class="btn btn-primary mr-2" type="submit">Entrar</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancelar</button>
    </div>
</form>