<div class="container mt-5">
    <div *ngIf="!registerMode && !loginMode" style="text-align: center;">
        <h1>Encontre o seu par</h1>
        <p class="lead">Tudo que você precisa fazer é se inscrever!</p>
        <div class="text-center">
            <button (click)="loginToggle()" class="btn btn-primary btn-lg mr-2">Entrar</button>
            <button (click)="registerToggle()" class="btn btn-dark btn-lg">Increver-se</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

    <div *ngIf="loginMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
            </div>
        </div>
    </div>
</div>
